* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 1000px;
  margin: 0 auto;
}

.pageContainer {
  display: flex;
  width: 100%;
}

.link {
  text-decoration: none;
}