* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 620px;
  height: 900px;
  margin: 0 auto;
}

.pageContainer {
  display: flex;
  width: 100%;
}

.link {
  text-decoration: none;
}