* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 1800px;
  height: 600px;
  margin: auto;
}

.pageContainer {
  display: flex;
  /* justify-content: space-between; */
}

.link {
  text-decoration: none;
}