* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pageLayout {
  height: 900px;
  width: 1000px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.pageContainer {
  display: flex;
  justify-content: space-between;
}

.productsList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  flex-wrap: wrap;
}