.pageContainer {
  display: flex;
  justify-content: space-between;
}

.productsList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  flex-wrap: wrap;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagesList {
  display: flex;
  list-style: none;
}

.pagesItem {
  width: 24px;
  height: 17px;
  opacity: 0.4;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.2px;
}

.active {
  color: red;
}