.cartComponent {
  height: 300px;
  width: 1000px;
  margin: 10px 0;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.cartContainer {
  height: 250px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.cartImageArea {
  height: 250px;
  width: 35%;
}

.cartProductImage {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.cartProductDescriptions {
  width: 65%;
  padding-left: 15px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.cartProductTitle {
  height: 18px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.2px;
  margin-bottom: 18px;
}

.cartProductText {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 152px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.9px;
}


.cartProductDescriptionsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.cartProductBuyingArea {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.buttonBuy {
  margin-top: 30px;
  width: 258px;
  height: 45px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.cartProduct {
  padding: 15px;
  height: 15px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.9px;
  text-align: center;
}

.cartProduct--grey {
  opacity: 0.7;
}

.cartProductDisabled {
  opacity: 0.7;
  color: grey;
}

.cartProductClick {
  cursor: pointer;
}

.cartDelProductButton {
  color: #ff4444;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  position: absolute;
  right: 15px;
  bottom: 30px;
  cursor: pointer;
}

.cartFinishArea {
  height: 200px;
  width: 100%;
  color: #000000;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 20px;
}

.hide {
  display: none;
}

.emptyCart {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}