.menu {
  margin: 10px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1168px;
  height: 29px;
}

.logoArea {
  width: 80px;
  height: 100%;
}

.logoPicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menuArea {
  display: flex;
  justify-content: flex-end
}

.menuList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.menuItem {
  margin: 0 10px;
  height: 12px;
  opacity: 0.5;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 6.4px;
  cursor: pointer;
}

.menuItem--Active {
  opacity: inherit;
}